*{
  box-sizing: border-box;
  font-family:  sans-serif;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  border-radius:50%;
}

::-webkit-scrollbar-thumb {
  border-radius:100px;
  background-color: darkgrey;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  max-width: 100%;
  margin: 0;
  padding: 0;
  color : white;
  background-color: #040714;
}

